# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class
*.MF
*.iml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.settings
*.ear
*.zip
*.project
*.tar.gz
*.rar
*target
*classes
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.metadata/

.idea
*.DS_store
.mvn
mvnw
mvnw.cmd
